body{
    background-color:#EBFFEB;
    font-size:18px;
}



.jumbotron {background: url("DSC_0090_1.JPG")}

img {
    width: 550px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

h3 { 
	font-family: courier new;
	text-align: center;
 }

 h2 { 
	font-family: times new roman;
	text-align: center;

 }

 .nav {
 	text-align: center;
 }

 .bio {
 	font-family: courier new;
 	color: purple;
 }

.name {
	font-family: Helvetica;
	color: #045f61;
}
